<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rotinas</title>
    <link rel="stylesheet" href="../Commons/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../CSS/styleIndex.css">
    <link rel="stylesheet" href="styleIndexPaulo.css">
    
</head>
<body>
<center>

<div>
<hr>
<h1>ROTINAS</h1>
<hr>
</div> 
<a href="../Rotinas-I/jogo.html" target="_blank"><img src="../../../Assets/Image/Index/MANHÃ.png" width="17%" height="17%"></a>
<img ="" src="../../../Assets/Image/Index/RelógioRotinas.png" height="" width="">
<a href="../Rotinas-II/jogo.html" target="_blank"><img src="../../../Assets/Image/Index/TARDE.png" width="17%" height="17%"></a>

  
 
</center>  
    <script src="../../../Commons/Jqeury/jquery.js"></script>
    <script src="./Estacoes.js"></script>
    <script src="../../../Commons/Bootstrap/bootstrap.js"></script>
    <script src="../../../Commons/Popper/popper.js"></script>
 
</body>
</html>