<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../Commons/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./cidade-style.css">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light nav-principal">
                <a class="navbar-brand" style="color: green; font-size: 200%;" href="#"> Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " href="#" style="color: green" id="Estacoes">ESTAÇÕES DO ANO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#" style="color: green" id="Animais">QUE ANIMAL É ESSE?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#" style="color: green" id="Cidade">PASSEANDO PELA CIDADE</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#" style="color: green">Informações sobre o Projeto <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#" style="color: green">Quem Somos <span class="sr-only">(current)</span></a>
                        </li>
        
                    </ul>
                </div>
            </nav>
        
<h1>Cidade </h1>
    
        <script src="./Cidade.js"></script>
        <script src="../../../Commons/Jqeury/jquery.js"></script>
        <script src="../../../Commons/Bootstrap/bootstrap.js"></script>
        <script src="../../../Commons/Popper/popper.js"></script>
</body>
</html>