<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./jogo.css">
    <link rel="stylesheet" href="../../../Commons/Bootstrap/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

   <center>
       <div id="render"></div>
   </center>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitulo"></h5>

                </div>
                <div class="modal-body">
                    <center>
                        <img src="" alt="" id="ImagemModal" height="" width="">
                    </center>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>


    <script src="../../../Commons/Jqeury/jquery.js"></script>
    <script src="../../../Commons/Popper/popper.js"></script>
    <script src="../../../Commons/Bootstrap/bootstrap.js"></script>
    <script src="./jogo-itens.js"></script>
    <script src="./jogo.js"></script>
</body>

</html>