<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Letras</title>
    <link rel="stylesheet" href="../Commons/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../CSS/styleIndex.css">
    <link rel="stylesheet" href="styleIndexPAulo.css">

</head>

<body>
    <center>
        <hr>
        <h1>LETRAS</h1>
        <hr>
<session>

            <img src="../../../Assets/Image/Letras/a.jpg" width="15%" height="15%"><br>
            <h3>Ouvir</h3><br>
            <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br>
            <hr>


  </session>

<session id="a">
    <img src="" width="" height=""><br>
    <h3>Ouvir</h3><br>
    <audio src="""></audio><br><br><hr>
</session> 
<session id="b">
    <img src="" width="" height=""><br>
    <h3>Ouvir</h3><br>
    <audio src="""></audio><br><br><hr>
</session> 
<session id="c">
    <img src="" width="" height=""><br>
    <h3>Ouvir</h3><br>
    <audio src="""></audio><br><br><hr>
</session> 
<session id="d">
    <img src="" width="" height=""><br>
    <h3>Ouvir</h3><br>
    <audio src="""></audio><br><br><hr>
</session> 
<session id="e">
    <img src="" width="" height=""><br>
    <h3>Ouvir</h3><br>
    <audio src="""></audio><br><br><hr>
</session> 
<session id="f">
    <img src="" width="" height=""><br>
    <h3>Ouvir</h3><br>
    <audio src="""></audio><br><br><hr>
</session> 
<session id="g">
    <img src="" width="" height=""><br>
    <h3>Ouvir</h3><br>
    <audio src="""></audio><br><br><hr>
</session> 
<session id="h">
    <img src="" width="" height=""><br>
    <h3>Ouvir</h3><br>
    <audio src="""></audio><br><br><hr>
</session> 
<session id="i">
    <img src="" width="" height=""><br>
    <h3>Ouvir</h3><br>
    <audio src="""></audio><br><br><hr>
</session> 
<session id="j">
    <img src="" width="" height=""><br>
    <h3>Ouvir</h3><br>
    <audio src="""></audio><br><br><hr>
</session> 
<session id="k">
    <img src="" width="" height=""><br>
    <h3>Ouvir</h3><br>
    <audio src="""></audio><br><br><hr>
</session> 
<session id="l">
    <img src="" width="" height=""><br>
    <h3>Ouvir</h3><br>
    <audio src="""></audio><br><br><hr>
</session> 
<session id="m">
    <img src="" width="" height=""><br>
    <h3>Ouvir</h3><br>
    <audio src="""></audio><br><br><hr>
</session> 
<session id="n">
    <img src="" width="" height=""><br>
    <h3>Ouvir</h3><br>
    <audio src="""></audio><br><br><hr>
</session> 
<session id="o">
    <img src="" width="" height=""><br>
    <h3>Ouvir</h3><br>
    <audio src="""></audio><br><br><hr>
</session> 
<session id="p">
    <img src="" width="" height=""><br>
    <h3>Ouvir</h3><br>
    <audio src="""></audio><br><br><hr>
</session> 
<session id="q">
    <img src="" width="" height=""><br>
    <h3>Ouvir</h3><br>
    <audio src="""></audio><br><br><hr>
</session> 
<session id="r">
    <img src="" width="" height=""><br>
    <h3>Ouvir</h3><br>
    <audio src="""></audio><br><br><hr>
</session> 
<session id="s">
        <img src="" width="" height=""><br>
        <h3>Ouvir</h3><br>
        <audio src="""></audio><br><br><hr>
</session> 
<session id="t">
        <img src="" width="" height=""><br>
        <h3>Ouvir</h3><br>
        <audio src="""></audio><br><br><hr>
</session> 
<session id="u">
        <img src="" width="" height=""><br>
        <h3>Ouvir</h3><br>
        <audio src="""></audio><br><br><hr>
</session> 
<session id="v">
        <img src="" width="" height=""><br>
        <h3>Ouvir</h3><br>
        <audio src="""></audio><br><br><hr>
    </session> 
<session id="w">
        <img src="" width="" height=""><br>
        <h3>Ouvir</h3><br>
        <audio src="""></audio><br><br><hr>
    </session>
<session id="x">
        <img src="" width="" height=""><br>
        <h3>Ouvir</h3><br>
        <audio src="""></audio><br><br><hr>
    </session>
<session id="y">
        <img src="" width="" height=""><br>
        <h3>Ouvir</h3><br>
        <audio src="""></audio><br><br><hr>
    </session>
<session id="z">
    <img src="" width="" height=""><br>
    <h3>Ouvir</h3><br>
    <audio src="""></audio><br><br><hr>
</session>