<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Letras</title>
    <link rel="stylesheet" href="../Commons/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../CSS/styleIndex.css">
    <link rel="stylesheet" href="styleIndexPaulo.css">
    
</head>
<body>
<center>
    <hr>
    <h1>LETRAS</h1>
    <hr>
<div>
    
    <img src="../../../Assets/Image/Letras/a.jpg" width="15%" height="15%"><br>
    <h3>Ouvir</h3><br>
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/b.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3><br> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/c.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3><br> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/d.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3><br> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/e.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3><br> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/f.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3><br> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/g.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3><br> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/g.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3><br> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/i.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3><br> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/j.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3><br> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/k.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3><br> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/l.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3><br> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/m.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3><br> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/n.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3><br> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/o.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3><br> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/p.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3><br> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/q.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3><br> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/r.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3> <br>
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/s.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3><br> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/t.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3><br> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/u.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3><br> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/v.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3><br> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/w.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3> <br>
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/x.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3> <br>
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/y.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3><br> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/z.png" width="15%" height="15%"><br>
    <h3>Ouvir</h3><br> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls autoplay loop></audio><br><br><hr>



</div> 

  
 
</center>  
    <script src="../../../Commons/Jqeury/jquery.js"></script>
    <script src="./Estacoes.js"></script>
    <script src="../../../Commons/Bootstrap/bootstrap.js"></script>
    <script src="../../../Commons/Popper/popper.js"></script>
 
</body>
</html>