<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Letras</title>
    <link rel="stylesheet" href="../Commons/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../CSS/styleIndex.css">
    <link rel="stylesheet" href="styleIndexPaulo.css">
    
</head>
<body>
<center>
    <hr>
    <h1>LETRAS</h1>
    <hr>
<div>
    
    <img src="../../../Assets/Image/Letras/a.jpg" id=letras><br>
    <h2>Alface  -  Abacate</h2>
    <h3>Ouvir</h3><audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/b.png" id=letras><br>
    <h2>Bolo  -  Banana</h2>
    <h3>Ouvir</h3><audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/c.png" id=letras><br>
    <h2>Casaco  -  Camisa</h2>
    <h3>Ouvir</h3><audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/d.png" id=letras><br>
    <h2>Dedo  -  Dente</h2> 
    <h3>Ouvir</h3><audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/e.png" id=letras><br>
    <h2>Ervilha  -  Escola</h2> 
    <h3>Ouvir</h3><audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/f.png" id=letras><br>
    <h2>Fada  -  Feijão</h2>
    <h3>Ouvir</h3><audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/g.png" id=letras><br>
    <h2>Geladeira  -  Goleira</h2>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/h.png" id=letras><br>
    <h2>Hipopótamo  -  Hora</h2>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/i.png" id=letras><br>
    <h2>Igreja  -  Índio</h2>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/j.png" id=letras><br>
    <h2>Jornal  -  Janela</h2>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/k.png" id=letras><br>
    <h2>Kibon  -  Kit kat</h2>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/l.png" id=letras><br>
    <h2>Livro  -  Loja</h2>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/m.png" id=letras><br>
    <h2>Merenda  -  Mesa</h2>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/n.png" id=letras><br>
    <h2>Ninho  -  Nuvem</h2>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/o.png" id=letras><br>
    <h2>Ovo  -  Ovelha</h2>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/p.png" id=letras><br>
    <h2>Professora  -  Pé</h2>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/q.png" id=letras><br>
    <h2>Queijo  -  Quarto</h2>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/r.png" id=letras><br>
    <h2>Rato  -  Riacho</h2>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/s.png" id=letras><br>
    <h2>Sanduiche  -  Sopa</h2>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/t.png" id=letras><br>
    <h2>Tesoura  -  Tapete</h2>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/u.png" id=letras><br>
    <h2>Uva  -  Umbigo</h2>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/v.png" id=letras><br>
    <h2>Vegetal  -  Vela</h2>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/w.png" id=letras><br>
    <h2>Webcam  -  Wi-Fi</h2>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/x.png" id=letras><br>
    <h2>Xarope  -  Xuxa</h2>
    <h3>Ouvir</h3> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/y.png" id=letras><br>
    <h2>Yakult  -  Yoki</h2>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>
    <img src="../../../Assets/Image/Letras/z.png" id=letras><br>
    <h2>Ziper  -  Zoológico</h2>
    <h3>Ouvir</h3> 
    <audio src="../../../Assets/Audio/Som_Letras/" controls controls loop></audio><br><br><hr>



</div> 

  
 
</center>  
    <script src="../../../Commons/Jqeury/jquery.js"></script>
    <script src="./Estacoes.js"></script>
    <script src="../../../Commons/Bootstrap/bootstrap.js"></script>
    <script src="../../../Commons/Popper/popper.js"></script>
 
</body>
</html>