<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./jogo.css">
    <link rel="stylesheet" href="../../../../Commons/Bootstrap/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <center>
        <div class="container" id="div-content">
            <div class="row">
                <div class="card-body">

                    <div class="">
                        <audio id="questaoAudio" controls autoplay src="" ></audio>

                        <h1 id="title"></h1>
                        <div class="card" style="width: 28rem;">
                            <img class="card-img-top" src="" id="principalImage" height="" width="">
                        </div>
                    </div>
                    <br>
                    <br>
                    <div style="display: table-row" class="card-columns options">
                        <div class="card questionCard opA" style="width: 18rem; cursor: pointer" id="opABox" onclick="checkValue(this.id)">

                            <h4 id="titleA" id="opATexto"></h4>
                            <img class="" src="" id="opA" height="" width="">
                            <audio id="opAAudio" controls="controls" src="" hidden></audio>
                            <br>
                            <br>
                        </div>
                        
                        <div class="card questionCard opB" style="width: 18rem; cursor: pointer;" id="opBBox" onclick="checkValue(this.id)">
                            <audio id="opBAudio" autoplpay="" controls="controls" src="" hidden>
                            </audio>
                            <h4 id="opBTexto"></h4>
                            <img class="" src="" height="" width="" id="opB">
                            <br>
                            <br>
                        </div>

                        <div class="card questionCard opC" style="width: 18rem; cursor: pointer;" id="opCBox" onclick="checkValue(this.id)">
                            <audio id="opCAudio" autoplpay="" controls="controls" src="" hidden>
                            </audio>
                            <h4 id="opCTexto"></h4>
                            <img class="" src="" id="opC" height="" width="">
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </center>



    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitulo"></h5>

                </div>
                <div class="modal-body">
                    <center>
                        <img src="" alt="" id="ImagemModal" height="" width="">
                    </center>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>


    <script src="../../../Commons/Jqeury/jquery.js"></script>
    <script src="../../../../Commons/Popper/popper.js"></script>
    <script src="../../../../Commons/Bootstrap/bootstrap.js"></script>
    <script src="./jogo-itens.js"></script>
    <script src="./jogo.js"></script>
</body>

</html>