<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../Commons/Bootstrap/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

   <center>
       <div id="render"></div>
       <div id="parabens" style="display:none">
    <audio src=""></audio>
            <h1>Parabéns! Você terminou o jogo! </h1>
        </div>
    </center>



    <script src="../../../Commons/Jqeury/jquery.js"></script>
    <script src="../../../Commons/Popper/popper.js"></script>
    <script src="../../../Commons/Bootstrap/bootstrap.js"></script>
    <script src="./jogo-itens.js"></script>
    <script src="./jogo.js"></script>
</body>

</html>