<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../Commons/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="./animais-style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-principal">
        <a class="navbar-brand" style="color: green; font-size: 200%;" href="#"> Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " href="#" style="color: green" id="Estacoes">ESTAÇÕES DO ANO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#" style="color: green" id="Animais">QUE ANIMAL É ESSE?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#" style="color: green" id="Cidade">PASSEANDO PELA CIDADE</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" style="color: green">Informações sobre o Projeto
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" style="color: green">Quem Somos
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

            </ul>
        </div>
    </nav>
<center>
    <div class="container" id="div-content">
        <div class="row">
            <div class="card-body">
                <h1 id="title">Teste</h1>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="" id="principalImage">
                </div>
                <br>
                <br>
                <div style="display: table-row" class="card-columns" >

                    <div class="card" style="width: 18rem;">
                        <h4 id="titleA"></h4>
                        <img class="card-img-top" src="" id="opA">
                    </div>
                    <div class="card" style="width: 18rem;">
                        <h4 id="titleB">Teste</h4>
                        <img class="card-img-top" src="" id="opB">
                    </div>
                </div>

            </div>

        </div>
    </center>


        <img src="" class='gallerythumbnail' id="principalImage">


    </div>





    <script src="../../../Commons/Jqeury/jquery.js"></script>
    <script src="../../../Commons/ajax/Ajax.js"></script>
    <script src="./info-jogo.js"></script>
    <script src="./Animais.js"></script>
    <script src="../../../Commons/Bootstrap/bootstrap.js"></script>
    <script src="../../../Commons/Popper/popper.js"></script>
    
</body>

</html>