<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animais</title>
    <link rel="stylesheet" href="../Commons/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../CSS/styleIndex.css">
    <link rel="stylesheet" href="styleIndexPaulo.css">
    
</head>
<body>
<center>

<hr>
<h1>ANIMAIS</h1>
<hr>
<div>
        <h2>Burro</h2>
        <img src="../../../Assets/Image/Animais_Fotos/Burro.jpg" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Animais_Sons/Burro.mp3" controls controls loop></audio>
        <h2>Cabra</h2>
        <img src="../../../Assets/Image/Animais_Fotos/Cabra.jpg" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Animais_Sons/Cabra.mp3" controls controls loop></audio>
        <h2>Cachorro Grande</h2>
        <img src="../../../Assets/Image/Animais_Fotos/Cachorro Grande.jpg" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Animais_Sons/Cachorro Grande.mp3" controls controls loop></audio>
        <h2>Cachorro Pequeno</h2>
        <img src="../../../Assets/Image/Animais_Fotos/Cachorro Pequeno.jpg" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Animais_Sons/Cachorro Pequeno.mp3" controls controls loop></audio>
        <h2>Canário Belga</h2>
        <img src="../../../Assets/Image/Animais_Fotos/Canário Belga.jpg" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Animais_Sons/Canário Belga.mp3" controls controls loop></audio>
        <h2>Cavalo</h2>
        <img src="../../../Assets/Image/Animais_Fotos/Cavalo.jpg" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Animais_Sons/Cavalo.mp3" controls controls loop></audio>
        <h2>Cigarra</h2>
        <img src="../../../Assets/Image/Animais_Fotos/Cigarra.jpg" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Animais_Sons/Cigarra.mp3" controls controls loop></audio>
        <h2>Galinha</h2>
        <img src="../../../Assets/Image/Animais_Fotos/Galinha.jpg" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Animais_Sons/Galinha.mp3" controls controls loop></audio>
        <h2>Galo</h2>
        <img src="../../../Assets/Image/Animais_Fotos/Galo.jpg" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Animais_Sons/Galo.mp3" controls controls loop></audio>
        <h2>Gatinho</h2>
        <img src="../../../Assets/Image/Animais_Fotos/Gatinho.jpg" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Animais_Sons/Gatinho.mp3" controls controls loop></audio>
        <h2>Gato Grande</h2>
        <img src="../../../Assets/Image/Animais_Fotos/Gato Grande.jpg" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Animais_Sons/Gato Grande.mp3" controls controls loop></audio>
        <h2>Grilo</h2>
        <img src="../../../Assets/Image/Animais_Fotos/Grilo.jpg" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Animais_Sons/Grilo.mp3" controls controls loop></audio>
        <h2>Leão</h2>
        <img src="../../../Assets/Image/Animais_Fotos/Leão.jpg" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Animais_Sons/Leão.mp3" controls controls loop></audio>
        <h2>Lobos</h2>
        <img src="../../../Assets/Image/Animais_Fotos/Lobo.jpg" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Animais_Sons/Lobos.mp3" controls controls loop></audio>
        <h2>Macaco</h2>
        <img src="../../../Assets/Image/Animais_Fotos/Macaco.jpg" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Animais_Sons/Macaco.mp3" controls controls loop></audio>
        <h2>Morcego</h2>
        <img src="../../../Assets/Image/Animais_Fotos/Morcego.jpg" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Animais_Sons/Morcegos.mp3" controls controls loop></audio>
        <h2>Ovelha</h2>
        <img src="../../../Assets/Image/Animais_Fotos/Ovelha.jpg" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Animais_Sons/Ovelha.mp3" controls controls loop></audio>
        <h2>Pato</h2>
        <img src="../../../Assets/Image/Animais_Fotos/Pato.jpg" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Animais_Sons/Pato.mp3" controls controls loop></audio>
        <h2>Porco</h2>
        <img src="../../../Assets/Image/Animais_Fotos/Porco.jpg" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Animais_Sons/Porco.mp3" controls controls loop></audio>
        <h2>Sapo</h2>
        <img src="../../../Assets/Image/Animais_Fotos/Sapo.jpg" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Animais_Sons/Sapos.mp3" controls controls loop></audio>
        <h2>Serpente</h2>
        <img src="../../../Assets/Image/Animais_Fotos/Serpente.jpg" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Animais_Sons/Serpente.mp3" controls controls loop></audio>
        <h2>Tigre</h2>
        <img src="../../../Assets/Image/Animais_Fotos/Tigre.jpg" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Animais_Sons/Tigre.mp3" controls controls loop></audio>
        <h2>Vaca</h2>
        <img src="../../../Assets/Image/Animais_Fotos/Vaca.jpg" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Animais_Sons/Vaca.mp3" controls controls loop></audio>

</div> 

  
 
</center>  
    <script src="../../../Commons/Jqeury/jquery.js"></script>
    <script src="./Estacoes.js"></script>
    <script src="../../../Commons/Bootstrap/bootstrap.js"></script>
    <script src="../../../Commons/Popper/popper.js"></script>
 
</body>
</html>