<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PÁGINA INICIAL</title>
    <link rel="stylesheet" href="../Commons/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../CSS/styleIndex.css">
    <link rel="stylesheet" href="styleIndexPAulo.css">
    
</head>
<body>
<center>
<!-- 
<header>
    <img src="../Assets/Image/Index/LogoTristao.png" width="52%" height="30%">
</header>
--> 

<h1>"ESCOLHA UM JOGO E APRENDA BRINCANDO."</h1>

    <div>
        <a href="JogoBichos.html" target="_blank"><img src="../Assets/Image/Index/JogoBichos.png" width="17%" height="17%"></a>&nbsp;|&nbsp;    
        <a href="../Components/HtmlComponnents/Jogo-Estacoes/Estacoes.html" target="_blank"><img src="../Assets/Image/Index/JogoEstacoes.png" width="17%" height="17%"></a>&nbsp;|&nbsp;    
        <a href="JogoLetras.html" target="_blank"><img src="../Assets/Image/Index/JogoLetras.png" width="17%" height="17%"></a><br><hr>
        <a href="JogoMúsica.html" target="_blank"><img src="../Assets/Image/Index/JogoMusica.png" width="17%" height="17%"></a>&nbsp;|&nbsp;    
        <a href="JogoNúmeros.html" target="_blank"><img src="../Assets/Image/Index/JogoNumeros.png" width="17%" height="17%"></a>&nbsp;|&nbsp;    
        <a href="../Components/HtmlComponnents/Jogo-Cidade/Transito/jogo.html" target="_blank"><img src="../Assets/Image/Index/JogoTransito.png" width="17%" height="17%"></a>    
    </div>


<h1>"DIVIRTA-SE!"</h1>
</center>  
    <script src="../../../Commons/Jqeury/jquery.js"></script>
    <script src="./Estacoes.js"></script>
    <script src="../../../Commons/Bootstrap/bootstrap.js"></script>
    <script src="../../../Commons/Popper/popper.js"></script>
 
</body>
</html>