<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PÁGINA INICIAL</title>
    <link rel="stylesheet" href="../Commons/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../CSS/styleIndex.css">
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
<center>
 

<h1>"ESCOLHA UMA OPÇÃO E APRENDA BRINCANDO."</h1><br>

    <div>
        <a href="../Components/HtmlComponnents/Vídeos/Vídeos.html" target="_blank">
            <img src="../Assets/Image/Index/VÍDEOS.png" id= icone_index width="17%" height="17%"></a>&nbsp;|&nbsp; 
        <a href="../Components/HtmlComponnents/Jogo-Animais/Animal.html" target="_blank">
            <img src="../Assets/Image/Index/ANIMAIS.png" id= icone_index width="17%" height="17%"></a>&nbsp;|&nbsp;    
        <a href="../Components/HtmlComponnents/Estacoes/jogo.html" target="_blank">
            <img src="../Assets/Image/Index/ESTAÇÕES.png" id= icone_index width="17%" height="17%"></a>&nbsp;|&nbsp;    
        <a href="../Components/HtmlComponnents/Letras/Letras.html" target="_blank">
            <img src="../Assets/Image/Index/LETRAS.png" id= icone_index width="17%" height="17%"></a><br><br>
        <a href="../Components/HtmlComponnents/Rotinas/Rotinas.html" target="_blank">
            <img src="../Assets/Image/Index/ROTINAS.png" id= icone_index width="17%" height="17%"></a>&nbsp;|&nbsp; 
        <a href="../Components/HtmlComponnents/Números/Número.html" target="_blank">
            <img src="../Assets/Image/Index/NÚMEROS.png" id= icone_index width="17%" height="17%"></a>&nbsp;|&nbsp;    
        <a href="../Components/HtmlComponnents/Transito/jogo.html" target="_blank">
            <img src="../Assets/Image/Index/TRÂNSITO.png" id= icone_index width="17%" height="17%"></a>&nbsp;|&nbsp; 
        <a href="../Components/HtmlComponnents/Música/Música.html" target="_blank">
            <img src="../Assets/Image/Index/MÚSICA.png" id= icone_index width="17%"  height="17%"></a><br><br>      
           
    </div>


<h1>"DIVIRTA-SE!"</h1>
</center>  
    <script src="../Commons/Jqeury/jquery.js"></script>
    <script src="./Estacoes.js"></script>
    <script src="../Commons/Bootstrap/bootstrap.js"></script>
    <script src="../Commons/Popper/popper.js"></script>
 
</body>
</html>