<html>
<head>
    <title>Jogos</title>
        <style type='text/css'>
            
		#logo{
				position: absolute;
				top: 40px;
				left:230px;
				width:800px;
				height:350px;
				background-color: yellow;
			 }
		#jogos{
				position:relative;
				top:420px;
				left:180px;
				width: 1000px;
				height:
				background-color:green;
		      }


	</style>
	<body bgcolor="DimGray">
	<div id="logo">
			<img src="C:\Users\Denise Viegas\Desktop\Index\LogoTristao.png" alt="logo da escola"/>
		
	</div>	
	<div id="jogos">
		<a href="file:///C:/Users/Denise%20Viegas/Desktop/T%C3%A9c.%20Assistiva/tecnologias-assistivas-master/Components/HtmlComponnents/Jogo-Animais/Animais.html"><img src="C:\Users\Denise Viegas\Desktop\Index\JogoBicho.png" alt="JogoBicho"/></a>
		<a href="file:///C:/Users/Denise%20Viegas/Desktop/T%C3%A9c.%20Assistiva/tecnologias-assistivas-master/Components/HtmlComponnents/Jogo-Estacoes/Estacoes.html"><img src="C:\Users\Denise Viegas\Desktop\Index\JogoEstacoes.png" alt="JogoEstacoes"/></a>
		<a href=""><img src="C:\Users\Denise Viegas\Desktop\Index\JogoLetras.png" alt="JogoLetras"/></a>
		<a href=""><img src="C:\Users\Denise Viegas\Desktop\Index\JogoMusica.png" alt="JogoMusica"/></a>
		<a href=""><img src="C:\Users\Denise Viegas\Desktop\Index\JogoNumeros.png" alt="JogoNumeros"/></a>
		<a href="file:///C:/Users/Denise%20Viegas/Desktop/T%C3%A9c.%20Assistiva/tecnologias-assistivas-master/Components/HtmlComponnents/Jogo-Cidade/Transito/jogo.html"><img src="C:\Users\Denise Viegas\Desktop\Index\JogoTransito.png" alt="JogoTransito"/></a>
	</div>
	
	
	
	</body>
</head>
</html>