<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estações</title>
    <link rel="stylesheet" href="../Commons/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../CSS/styleIndex.css">
    <link rel="stylesheet" href="styleIndexPaulo.css">
    
</head>
<body>
<center>
 
<hr>
<h1>ESTAÇÕES</h1>
<hr>
    <div>

        <a href="Primavera/jogo.html" target="_blank"><img src="../../../Assets/Image/Index/Primavera.png" width="17%" height="17%"></a>&nbsp;|&nbsp;       
        <a href="Verão/jogo.html" target="_blank"><img src="../../../Assets/Image/Index/Verão.png" width="17%" height="17%"></a><br><br>
        <a href="Outono/jogo.html" target="_blank"><img src="../../../Assets/Image/Index/Outono.png" width="17%" height="17%"></a>&nbsp;|&nbsp; 
        <a href="Inverno/jogo.html" target="_blank"><img src="../../../Assets/Image/Index/Inverno.png" width="17%" height="17%"></a>       
           
    </div>

</center>  
    <script src="../../../Commons/Jqeury/jquery.js"></script>
    <script src="./Estacoes.js"></script>
    <script src="../../../Commons/Bootstrap/bootstrap.js"></script>
    <script src="../../../Commons/Popper/popper.js"></script>
 
</body>
</html>