<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Outono</title>
    <link rel="stylesheet" href="../Commons/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../CSS/styleIndex.css">
    <link rel="stylesheet" href="styleIndexPaulo.css">
    
</head>
<body>
<center>

<div>
<hr>
<h1>OUTONO</h1>
<hr>
</div> 

  
 
</center>  
    <script src="../../../Commons/Jqeury/jquery.js"></script>
    <script src="./Estacoes.js"></script>
    <script src="../../../Commons/Bootstrap/bootstrap.js"></script>
    <script src="../../../Commons/Popper/popper.js"></script>
 
</body>
</html>