<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Música</title>
    <link rel="stylesheet" href="../Commons/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../CSS/styleIndex.css">
    <link rel="stylesheet" href="styleIndexPulo.css">
    
</head>
<body>
<center>
    <hr>
    <h1>MÚSICA</h1>
    <hr>
<div>
        <h2>Acordeon</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Acordeon.PNG" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Acordeon.mp3" controls autoplay loop></audio>
        <h2>Afoxé</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Afoxé.PNG" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Afoxe.mp3" controls autoplay loop></audio>
        <h2>Agogo</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Agogo.PNG" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Agogo.mp3" controls autoplay loop></audio>
        <h2>Bateria</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Bateria.PNG" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Bateria.mp3" controls autoplay loop></audio>
        <h2>Caixa</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Caixa.PNG" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Caixa.mp3" controls autoplay loop></audio>
        <h2>Carrilhão</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Carrilhão.PNG" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons//Carrilhao.mp3" controls autoplay loop></audio>
        <h2>Cavaquinho</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Cavaquinho.PNG" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Cavaquinho.mp3" controls autoplay loop></audio>
        <h2>Flauta</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Flauta.PNG" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Flauta.mp3" controls autoplay loop></audio>
        <h2>Gaita</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Gaita.PNG" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Gaita.mp3" controls autoplay loop></audio>
        <h2>Gongo</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Gongo.PNG" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Gongo.mp3" controls autoplay loop></audio>
        <h2>Guitarra</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Guitarra.PNG" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Guitarra.mp3" controls autoplay loop></audio>
        <h2>Pandeiro</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Pandeiro.PNG" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Pandeiro.mp3" controls autoplay loop></audio>
        <h2>Piano</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Piano.PNG" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Piano.mp3" controls autoplay loop></audio>
        <h2>Pratos</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Pratos.PNG" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Pratos.mp3" controls autoplay loop></audio>
        <h2>Saxofone</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Saxofone.PNG" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Saxofone.mp3" controls autoplay loop></audio>
        <h2>Tamborim</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Tamborim.PNG" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Tamborim.mp3" controls autoplay loop></audio>
        <h2>Triângulo</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Triângulo.PNG" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Triangulo.mp3" controls autoplay loop></audio>
        <h2>Trombone</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Trombone.PNG" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Trombone.mp3" controls autoplay loop></audio>
        <h2>Tuba</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Tuba.PNG" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Tuba.mp3" controls autoplay loop></audio>
        <h2>Violino</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Violino.PNG" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Violino.mp3" controls autoplay loop></audio>
        <h2>Violão</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Violão.PNG" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Violao.mp3" controls autoplay loop></audio>
        <h2>Xilofane</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Xilofone.PNG" width="15%" height="15%"></a>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Xilofone.mp3" controls autoplay loop></audio>

        
</div> 

  
 
</center>  
    <script src="../../../Commons/Jqeury/jquery.js"></script>
    <script src="./Estacoes.js"></script>
    <script src="../../../Commons/Bootstrap/bootstrap.js"></script>
    <script src="../../../Commons/Popper/popper.js"></script>
    <script src="Sons.js"></script>
 
</body>
</html>