<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Música</title>
    <link rel="stylesheet" href="../Commons/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="styleIndexPaulo.css">
    
</head>
<body>
<center>
    <hr>
    <h1>M Ú S I C A</h1>
    <hr>
<div>
        <h2>ACORDEON</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Acordeon.PNG" id=music>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Acordeon.mp3" controls controls loop></audio><hr>
        <h2>AFOXÉ</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Afoxé.PNG" id=music>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Afoxe.mp3" controls controls loop></audio><hr>
        <h2>AGOGÔ</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Agogo.PNG" id=music>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Agog0.mp3" controls controls loop></audio><hr>
        <h2>BATERIA</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Bateria.PNG" id=music>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Bateria.mp3" controls controls loop></audio><hr>
        <h2>CAIXA</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Caixa.PNG" id=music>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Caixa.mp3" controls controls loop></audio><hr>
        <h2>CARRILHAO</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Carrilhão.PNG" id=music>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons//Carrilhao.mp3" controls controls loop></audio><hr>
        <h2>CAVAQUINHO</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Cavaquinho.PNG" id=music>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Cavaquinho.mp3" controls controls loop></audio><hr>
        <h2>FLAUTA</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Flauta.PNG" id=music>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Flauta.mp3" controls controls loop></audio><hr>
        <h2>GAITA</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Gaita.PNG" id=music>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Gaita.mp3" controls controls loop></audio><hr>
        <h2>GONGO</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Gongo.PNG" id=music>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Gongo.mp3" controls controls loop></audio><hr>
        <h2>GUITARRA</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Guitarra.PNG" id=music>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Guitarra.mp3" controls controls loop></audio><hr>
        <h2>PANDEIRO </h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Pandeiro.PNG" id=music>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Pandeiro.mp3" controls controls loop></audio><hr>
        <h2>PIANO</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Piano.PNG" id=music>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Piano.mp3" controls controls loop></audio><hr>
        <h2>PRATOS</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Pratos.PNG" id=music>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Pratos.mp3" controls controls loop></audio><hr>
        <h2>SAXOFONE</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Saxofone.PNG" id=music>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Saxofone.mp3" controls controls loop></audio><hr>
        <h2>TAMBORIM</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Tamborim.PNG" id=music>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Tamborim.mp3" controls controls loop></audio><hr>
        <h2>TRIÂNGULO</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Triângulo.PNG" id=music>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Triangulo.mp3" controls controls loop></audio><hr>
        <h2>TROMBONE</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Trombone.PNG" id=music>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Trombone.mp3" controls controls loop></audio><hr>
        <h2>TUBA</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Tuba.PNG" id=music>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Tuba.mp3" controls controls loop></audio><hr>
        <h2>VIOLINO</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Violino.PNG" id=music>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Violino.mp3" controls controls loop></audio><hr>
        <h2>VIOLÃO</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Violão.PNG" id=music>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Violao.mp3" controls controls loop></audio><hr>
        <h2>XILOFONE</h2>
        <img src="../../../Assets/Image/InstrumentosMusicaisFotos/Xilofone.PNG" id=music>
        <h3>Ouvir</h3> 
        <audio src="../../../Assets/Audio/Instrumentos Sons/Xilofone.mp3" controls controls loop></audio><hr>

        
</div> 

  
 
</center>  
    <script src="../../../Commons/Jqeury/jquery.js"></script>
    <script src="./Estacoes.js"></script>
    <script src="../../../Commons/Bootstrap/bootstrap.js"></script>
    <script src="../../../Commons/Popper/popper.js"></script>
    <script src="Sons.js"></script>
 
</body>
</html>