
    h1 {
 
        color:rgb(27, 26, 26); text-shadow: rgb(161, 163, 145) 0.1em 0.1em 0.2em;
        background-color: rgb(227, 230, 62);
        border: 1px solid rgb(41, 38, 38);
        width: "50%";
        height: "15%";
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-stretch: expanded;
        font-size: 50px;
         
      }

      h2 {
 
        color:rgb(24, 22, 22); text-shadow: rgb(195, 212, 65) 0.1em 0.1em 0.2em;
        background-color: rgb(178, 187, 139); 
        width: "50%";
        height: "15%";
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-stretch: expanded;
        font-size: 60px;
         
      }

      h3 {
 
        color:rgb(77, 73, 73); text-shadow: rgb(161, 163, 145) 0.1em 0.1em 0.2em;
        background-color: rgb(178, 187, 139); 
        width: "50%";
        height: "15%";
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-stretch: expanded;
        font-size:smaller;
      }


      
      body{
        background-color: rgb(178, 187, 139); 
        align-items: center;
      }
    
    hr{
        
        color: whitesmoke;
    }
    header{
        width:"50%";
        height:"30%";
        left: "25%";
        align-items: center;
        justify-content: center;
    }
    



    audio {
      border-block-end-color: goldenrod
    }
    
    #music{
      width: 450px;
      height: 350px;

    }

    div{
      width: 500px;
      height: 450px;

    }


