<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VÍDEOS</title>
    <link rel="stylesheet" href="../Commons/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../CSS/styleIndex.css">
    <link rel="stylesheet" href="styleIndexPaulo.css">
    
</head>
<body>
<center>


<hr>
<h1>VÍDEOS</h1>
<hr>

<div>

      
        <a href="../../../Assets/Image/Index/GalinhaPintadinhaMini.jpg" target="_blank">
            <img src="../../../Assets/Image/Index/GalinhaPintada.png" width="25%" height="25%"></a>&nbsp;|&nbsp;       
        <a href="../../../Assets/Image/Index/MundoBita.jpg" target="_blank">
            <img src="../../../Assets/Image/Index/MundoBita.png" width="25%" height="25%"></a><br><br>
        <a href="../../../Assets/Image/Index/PalavraCantada.jpg" target="_blank">
            <img src="../../../Assets/Image/Index/PalavraCantada.png" width="25%" height="25%"></a>&nbsp;|&nbsp; 
        <a href="../../../Assets/Image/Index/PatatiPatatá.jpg" target="_blank">
            <img src="../../../Assets/Image/Index/PatatiPatatá.png" width="25%" height="25%"></a>    
         
      
           
            
    
      


</div>


  
 
</center>  
    <script src="../../../Commons/Jqeury/jquery.js"></script>
    <script src="./Estacoes.js"></script>
    <script src="../../../Commons/Bootstrap/bootstrap.js"></script>
    <script src="../../../Commons/Popper/popper.js"></script>
 
</body>
</html>