<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../../../Commons/Bootstrap/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body class="container">

    <h3>
        Imagens renderizdas dinamicamente
    </h3>

    <div class="sequencia" id="sequencia">
    </div>

    <br>
    <br>

    <h2>Teste dos</h2>

    <div class="opcoes">

    </div>
    



    


    <script src="../../../Commons/Jqeury/jquery.js"></script>
    <script src="../../../Commons/Popper/popper.js"></script>
    <script src="../../../Commons/Bootstrap/bootstrap.js"></script>
    <script src="./jogo-itens.js"></script>
    <script src="./jogo.js"></script>
</body>

</html>