<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./jogo.css">
    <link rel="stylesheet" href="../../../../Commons/Bootstrap/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div>
        <h4>
            Imagem 1
        </h4>
        <img src="" alt="">
    
    </div>
    
    <div>
        <h4>
            Imagem 2
        </h4>
        <img src="" alt="">
    
    </div>

    <div>
        <h4>
            Imagem 3
        </h4>
        <img src="" alt="">
    
    </div>

    <div>
        <h4>
            Imagem 4
        </h4>
        <img src="" alt="">
    
    </div>


    <br><br>

<h2>Imagens a serem renderizadas dinamicamente</h2>
    
<div>
    <h4>
        Imagem renderizada dinamicamente 1
    </h4>
    <img src="" alt="">

</div>
<div>
    <h4>
        Imagem 4
    </h4>
    <img src="" alt="">

</div>
    <script src="../../../../Commons/Jqeury/jquery.js"></script>
    <script src="../../../../Commons/Popper/popper.js"></script>
    <script src="../../../../Commons/Bootstrap/bootstrap.js"></script>
    <script src="./jogo-itens.js"></script>
    <script src="./jogo.js"></script>
</body>

</html>