<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Números</title>
    <link rel="stylesheet" href="../../../Commons/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../../CSS/styleIndex.css">
    
</head>
<body>
<center>
        <div onmouseenter="onMouseEnter(this)" onmouseleave="onMouseLeave(this)">
                <h2>Um</h2>
                <img src="../../../Assets/Image/Números/1.PNG" id=num>
                <img src="../../../Assets/Image/Números/1dedo.PNG" id=dedos>
                <audio src="../../../Assets/Audio/Som_Numeros/" loop></audio><br>
            </div>
        
        
    <div id="render"></div>
 
</center>  
<script src="../../../Commons/Jqeury/jquery.js"></script>
<script src="../../../Commons/Popper/popper.js"></script>
<script src="../../../Commons/Bootstrap/bootstrap.js"></script>
<script src="./itens.js"></script>
<script src="./numeros.js"></script>
</body>
</html>