<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Números</title>
    <link rel="stylesheet" href="../Commons/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../CSS/styleIndex.css">
    <link rel="stylesheet" href="styleIndexPaulo.css">
    
</head>
<body>
<center>
    <hr>
    <h1>NÚMEROS</h1>
    <hr>
<div>
    <h2>Um</h2>
    <img src="../../../Assets/Image/Números/1.PNG" id=number>
    <img src="../../../Assets/Image/Números/1dedo.PNG" id=number><br>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Numeros/" controls controls loop></audio><br><hr>

    <h2>Dois</h2>
    <img src="../../../Assets/Image/Números/2.PNG" id=number>
    <img src="../../../Assets/Image/Números/2dedos.PNG" id=number><br>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Numeros/" controls controls loop></audio><br><hr>

    <h2>Três</h2>
    <img src="../../../Assets/Image/Números/3.PNG" id=number>
    <img src="../../../Assets/Image/Números/3dedos.PNG" id=number><br>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Numeros/" controls controls loop></audio><br><hr>

    <h2>Quatro</h2>
    <img src="../../../Assets/Image/Números/4.PNG" id=number>
    <img src="../../../Assets/Image/Números/4dedos.PNG" id=number><br>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Numeros/" controls controls loop></audio><br><hr>

    <h2>Cinco</h2>
    <img src="../../../Assets/Image/Números/5.PNG" id=number>
    <img src="../../../Assets/Image/Números/5dedos.PNG" id=number><br>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Numeros/" controls controls loop></audio><br><hr>

    <h2>Seis</h2>
    <img src="../../../Assets/Image/Números/6.PNG" id=number>
    <img src="../../../Assets/Image/Números/6dedos.PNG" id=number><br>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Numeros/" controls controls loop></audio><br><hr>

    <h2>Sete</h2>
    <img src="../../../Assets/Image/Números/7.PNG" id=number>
    <img src="../../../Assets/Image/Números/7dedos.PNG" id=number><br>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Numeros/" controls controls loop></audio><br><hr>

    <h2>Oito</h2>
    <img src="../../../Assets/Image/Números/8.PNG" id=number>
    <img src="../../../Assets/Image/Números/8dedos.PNG" id=number><br>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Numeros/" controls controls loop></audio><br><hr>

    <h2>Nove</h2>
    <img src="../../../Assets/Image/Números/9.PNG" id=number>
    <img src="../../../Assets/Image/Números/9dedos.PNG" id=number><br>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Numeros/" controls controls loop></audio><br><hr>

    <h2>Dez</h2>
    <img src="../../../Assets/Image/Números/10.PNG" id=number>
    <img src="../../../Assets/Image/Números/10dedos.PNG" id=number><br>
    <h3>Ouvir</h3>
    <audio src="../../../Assets/Audio/Som_Numeros/" controls controls loop></audio><br><hr>

   
</div> 

  
 
</center>  
    <script src="../../../Commons/Jqeury/jquery.js"></script>
    <script src="./Estacoes.js"></script>
    <script src="../../../Commons/Bootstrap/bootstrap.js"></script>
    <script src="../../../Commons/Popper/popper.js"></script>
 
</body>
</html>