<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Números</title>
    <link rel="stylesheet" href="../../../Commons/Bootstrap/bootstrap.css">
    <link rel="stylesheet" href="styleIndexPaulo.css">

    
</head>
<body>
<center>

        <hr>
        <h1>N Ú M E R O S</h1>
        <hr>
        <div id="render"></div>
      <!--    

      <div>

            <div onmouseenter="onMouseEnter(this)" onmouseleave="onMouseLeave(this)">
                <h2>Um</h2>
                <img src="../../../Assets/Image/Números/1.PNG" id=num>
                <img src="../../../Assets/Image/Números/1dedo.PNG" id=dedos>
                <audio src="../../../Assets/Audio/Números_áudio/um.mp3" loop></audio><br>
            </div>
            <hr>
            <div onmouseenter="onMouseEnter(this)" onmouseleave="onMouseLeave(this)">
                <h2>Dois</h2>
                <img src="../../../Assets/Image/Números/2.PNG" id=num>
                <img src="../../../Assets/Image/Números/2dedos.PNG" id=dedos><br>
                <audio src="../../../Assets/Audio/Números_áudio/dois.mp3" loop></audio><br>
            </div>
            <hr>
            <div onmouseenter="onMouseEnter(this)" onmouseleave="onMouseLeave(this)">
                <h2>Três</h2>
                <img src="../../../Assets/Image/Números/3.PNG" id=num>
                <img src="../../../Assets/Image/Números/3dedos.PNG" id=dedos><br>
                <audio src="../../../Assets/Audio/Números_áudio/tres.mp3" loop></audio><br>
            </div>
            <hr>
            <div onmouseenter="onMouseEnter(this)" onmouseleave="onMouseLeave(this)">
                <h2>Quatro</h2>
                <img src="../../../Assets/Image/Números/4.PNG" id=num>
                <img src="../../../Assets/Image/Números/4dedos.PNG" id=dedos><br>
                <audio src="../../../Assets/Audio/Números_áudio/quatro.mp3" loop></audio><br>
            </div>
            <hr>
            <div onmouseenter="onMouseEnter(this)" onmouseleave="onMouseLeave(this)">
                <h2>Cinco</h2>
                <img src="../../../Assets/Image/Números/5.PNG" id=num>
                <img src="../../../Assets/Image/Números/5dedos.PNG" id=dedos><br>
                <audio src="../../../Assets/Audio/Números_áudio/cinco.mp3" loop></audio><br>
            </div>
            <hr>
            <div onmouseenter="onMouseEnter(this)" onmouseleave="onMouseLeave(this)">
                <h2>Seis</h2>
                <img src="../../../Assets/Image/Números/6.PNG" id=num>
                <img src="../../../Assets/Image/Números/6dedos.PNG" id=dedos><br>
                <audio src="../../../Assets/Audio/Números_áudio/seis.mp3" loop></audio><br>
            </div>
            <hr>
            <div onmouseenter="onMouseEnter(this)" onmouseleave="onMouseLeave(this)">
                <h2>Sete</h2>
                <img src="../../../Assets/Image/Números/7.PNG" id=num>
                <img src="../../../Assets/Image/Números/7dedos.PNG" id=dedos><br>
                <audio src="../../../Assets/Audio/Números_áudio/sete.mp3" loop></audio><br>
            </div>
            <hr>
            <div onmouseenter="onMouseEnter(this)" onmouseleave="onMouseLeave(this)">
                <h2>Oito</h2>
                <img src="../../../Assets/Image/Números/8.PNG" id=num>
                <img src="../../../Assets/Image/Números/8dedos.PNG" id=dedos><br>
                <audio src="../../../Assets/Audio/Números_áudio/oito.mp3" loop></audio><br>
            </div>  
            <hr>
            <div onmouseenter="onMouseEnter(this)" onmouseleave="onMouseLeave(this)">
                <h2>Nove</h2>
                <img src="../../../Assets/Image/Números/9.PNG" id=num>
                <img src="../../../Assets/Image/Números/9dedos.PNG" id=dedos><br>
                <audio src="../../../Assets/Audio/Números_áudio/nove.mp3" loop></audio><br>
            </div>
            <hr>
            <div onmouseenter="onMouseEnter(this)" onmouseleave="onMouseLeave(this)">
                <h2>Dez</h2>
                <img src="../../../Assets/Image/Números/10.PNG" id=num>
                <img src="../../../Assets/Image/Números/10dedos.PNG" id=dedos><br>
                <audio src="../../../Assets/Audio/Números_áudio/dez.mp3" loop></audio><br>
            </div>
            <hr>
        </div> 
        -->  
        
</center>  
<script src="../../../Commons/Jqeury/jquery.js"></script>
<script src="../../../Commons/Popper/popper.js"></script>
<script src="../../../Commons/Bootstrap/bootstrap.js"></script>
<script src="./itens.js"></script>
<script src="./numeros.js"></script>
</body>
</html>